*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.input-wrapper{
    margin-bottom: 1.5rem;
    
}



.label-input{
    text-transform: capitalize;
   
    font-size: 1rem;
    height: 40px;
    display: flex;
    align-items: center;    
}


.custom-input{
    border-width: 0;
    border-bottom-width: 1px;
    width: 100%;
    padding: 0.5rem 0rem;
    font-size: 1rem;
    opacity: 0.8rem;
    margin: 0px;
}

input{
    margin: 0px;
}
.custom-input:focus{
    outline: none;
    opacity: 1;
    transition: all 0.2s;
}
.custom-input::placeholder{
    color: grey;
}

