*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.singup-wrapper{
    width: 70%;
    max-width: 450px;
    height: auto;
    box-shadow: var(--shadow);
    border-radius: 1rem;
    padding: 1rem 1.5rem;
}

.title{
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    /* margin: 0;
    margin-bottom: 1rem; */
}


.p-op{
    text-align: center;
    font-weight: 300;
    font-size: 0.8rem;
    cursor: pointer;
}